{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/memorial.css' %}">


<div class="product-card">
    <h2>{{ memorial.firstname }} {{ memorial.lastname }}</h2>
    <p>{{ memorial.biography }}</p>
    {% if memorial.image %}
        <img src="{{ memorial.image.url }}" >
    {% else %}
        <p>No image</p>
    {% endif %}
</div>


<a href="{% url 'Memorialupdate' memorial.pk %}" class="add_button">Edit</a>
<a href="{% url 'Memorialdelete' memorial.pk %}" class="add_button">Delete Memorial</a>

<h3 class="add_button">Photos</h3>

<div class="photo-gallery">

    {% for photo in memorial.photos.all %}
        <div class="product-card">
            {% if photo.image %}
            <h2>{{user.username}}</h2>
                <img src="{{ photo.image.url }}">
                <a href="{% url 'Photoupdate' memorial.pk photo.pk %}" class="anchor">Edit Photo</a>
                <a href="{% url 'Photodelete' memorial.pk photo.pk %}" class="anchor">Delete Photo</a>
            {% else %}

            {% endif %}
        </div>
    {% endfor %}
</div>

<a href="{% url 'addphoto' memorial.pk %}" class="add_button">Add Photo</a>



 <form method="POST" action="{% url 'Messagecreate' memorial.pk %}">
            {% csrf_token %}
            <textarea name="content" placeholder="WRITE A MESSAGE..." required></textarea>
            <input type="submit" value="Submit">
        </form>

 <hr>

        {% if not memorial.messages.all %}
            <p>No Message </p>
        {% endif %}
        {% for message in memorial.messages.all %}
        <div class="message">
            <p><strong>{{ message.user }}</strong> - {{ message.dateposted }}</p>
            <p>{{ message.content }}</p>

            <a href="{% url 'Messageupdate' memorial.pk message.pk %}" class="btn">Edit Message</a>
            <a href="{% url 'Messagedelete' memorial.pk message.pk %}" class="btn">Delete Message</a>
        </div>
    {% empty %}
        <p>No messages available.</p>
    {% endfor %}


{% endblock content %}

