{% extends "app/base.html" %}
{% block content %}
<div class="formm">
  <h2 style="color: gray;">Profile Details:</h2>
  {% if user.image %}
                <img src="{{ user.image.url }}" alt="Profile Picture" height="150" width="150" style="border-radius: 50%">
            {% else %}
                <img src="#" alt="Default Profile Picture">
            {% endif %}
  <p style="color: gray;"><strong>Username:</strong> {{ user.username }}</p>
  <p style="color: gray;"><strong>Email:</strong> {{ user.email }}</p>
  <p style="color: gray;"><strong>First Name:</strong> {{ user.first_name }}</p>
  <p style="color: gray;"><strong>Last Name:</strong> {{ user.last_name }}</p>
  <p style="color: gray;"><strong>Age:</strong> {{ user.age }}</p>
  <p style="color: gray;"><strong>Phone Number:</strong> {{ user.phone_number }}</p>

  <a href="{% url 'profileedit' %}" class="input_button">Edit Profile</a>
  <a href="{% url 'profiledelete' %}" class="input_button">Delete Account</a>
</div>
{% endblock %}