{% extends 'app/base.html' %}
<!--{% load static %}-->

{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="text" id="text">
  <h1>ABOUT US</h1>

  <p> Welcome to Memorial Web, a place of remembrance, love, and tribute. Our mission is to honor and celebrate the lives of those who have touched our hearts and left a lasting impact.</p>

<p>Through shared stories, cherished photos, and heartfelt messages, we strive to create a space where family and friends can come together to keep memories alive. Whether you're here to pay tribute, find comfort, or share in the collective remembrance, we hope this site serves as a beacon of love and legacy.</p>

<p> Thank you for being a part of this journey of remembrance.</p>


</div>


{% endblock content %}


