{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">


<div class="memorial-entry">
    <h2>{{ memorial.firstname }} {{ memorial.lastname }}</h2>
    <p>{{ memorial.biography }}</p>
    {% if memorial.image %}
        <img src="{{ memorial.image.url }}" alt="{{ memorial.firstname }} {{ memorial.lastname }}">
    {% else %}
        <p>No image</p>
    {% endif %}
</div>

<div class="photo-gallery">
    <h3>Photos</h3>
    {% for photo in memorial.photos.all %}
        {% if photo.image %}
            <img src="{{ photo.image.url }}">
            {% else %}
                <p>No image available</p>
        {% endif %}
    {% endfor %}
</div>

<a href="{% url 'addphoto' memorial.pk %}">Add Photo</a>
<a href="{% url 'blogsupdate' memorial.pk %}">Edit</a>
<a href="{% url 'blogsdelete' memorial.pk %}">Delete Blog</a>

{% endblock content %}