{% extends 'app/base.html' %}
{% load static %}

{% block content %}
      <h1> New Post</h1>
        <form action="{% url 'blogscreate' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div>
                <label for="id_user">Created by: </label>
                <select id="id_user" name="user">
                    {% for user in users %}
                         <option value="{{user.pk}}" {% if user.pk == form.user.value %} selected {% endif %}>
                            {{user}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="id_firstname">firstname </label>
                <input type="text" id="id_firstname" name="firstname">
            </div>
            <div>
                <label for="id_lastname">lastname </label>
                <input type="text" id="id_lastname" name="last">
            </div>
            <div>
                <label for="id_dateofbirth">dateofbirth </label>
                <input type="date" id="id_dateofbirth" name="dateofbirth">
            </div>
            <div>
                <label for="id_dateofdeath">dateofdeath</label>
                <input type="date" id="id_dateofdeath" name="dateofdeath">
            </div>
            <div>
                <label for="id_biography">Biography </label>
                <textarea type="date" id="id_biography" name="biography"></textarea>
            </div>
            <div>
                <label for="id_tag">Tags </label>
                <select id="id_tag " name="tag" multiple>
                    {% for tag in tags %}
                        <option value="{{tag.pk}}"{% if tag.pk == form.tag.value %}selected {% endif %}>
                            {{tag}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="id_image">Image </label>
                <input type="file" id="id_image" name="image">
            </div>
            <input type = "submit" value="Save">

        </form>
{% endblock content %}